Bonjour,<br/><br/>
Un nouveau membre ({{user.firstname}} {{user.lastname}}) a déposé son CV!<br/><br/>
Vous pouvez regarder, valider, ou refuser son profil <a href="{{path('intranet_cv_inprogress_profil',{'id':user.id})}}" >ici</a>
<br/><br/>
De plus, retrouvez la liste des nouveaux candidats en attente de validation <a href="{{path('intranet_cv_new_profil')}}" >ici</a>.
<br/><br/>
Cordialement.