{% extends 'IntranetAppBundle::base.html.twig' %}

{%block page_header %}Cvs{%endblock%}
{%block page_description %}{%endblock%}

{% block body -%}
    
    <div class="row">
        <div class="col-md-8">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Liste des CVs</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                  <div class="box-body">
                    {% for cv in cvs %}
                        - {{loop.index}} : <a href="{{asset(cv.WebPath)}}" >{{cv.path}}</a>
                    {% endfor %}
                  </div>
              </div>
        </div>
    </div>
{% endblock body -%}
    